body {
    background-color: #121F28;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

h1 {
    text-align: center;
    padding: 20px;
    font-weight: 800;
    font-size: 50px;
}
.cortitulo {
    color: #F53B49;
}

.container-login-cadastro {
    display: flex;
    background-color: #2C4A5C;
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    border-radius: 20px;
    overflow: hidden;
}

.coluna-form {
    flex: 1;
    padding: 40px;
}

#cadastro {
    background-color: #385E74;
}

.coluna-form h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 800;
}

.coluna-form input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #EBF0F2;
    box-sizing: border-box;
}

.coluna-form .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: rgba(61, 170, 51, 1);
    cursor: pointer;
    transition: background-color 0.2s;
}

.coluna-form .btn:hover {
    background-color: rgba(38, 104, 32, 1);
}
