body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    background-color: rgba(24, 45, 59, 1);
    text-align: center;
    padding: 100px 40px;

    flex-grow: 1; /* preenche o espaço vazio que estava sendo gerado pelo container do rodapé */
}

.agradecimento h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.agradecimento p {
    font-size: 18px;
    color: #D3D3D3;
    max-width: 600px;
    margin: 0 auto;
    
}

footer {
    background-color: rgba(4, 20, 32, 1);
    padding: 60px 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px; 
    margin: 0 auto;
}

.footer-coluna h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-coluna p {
    font-size: 14px;
    color: #D3D3D3;
    margin: 8px 0;
}